.navigation {
    position: relative;
    display: flex;

    &__items {
        display: flex;
        margin-right: 1em;

        @media screen and (max-width: $burgerThreshold) {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: -100vw;
            top: 100%;
            z-index: 1;
            background-color: $headerBackgroundColor;
            margin-right: 0;
            width: 100vw;
            height: 100vh;
            // transform: translateX(100%);
            transition: all 0.5s ease;
        }
    }

    &--open &__items {
        @media screen and (max-width: $burgerThreshold) {
            // display: flex;
            // transform: translateX(0%);
            right: 0;
        }
    }

    &__item {
        font-family: $fellFont;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        font-weight: normal;
        font-style: normal;
        padding: 0 0.5em;

        &--active,
        &:hover {
            color: $highlightColor;
        }

        @media screen and (max-width: $burgerThreshold) {
            font-size: 1.5rem;
            // line-height: 2em;
            padding: 0.5em 1em;
        }
    }

    &__burger {
        width: 4rem;
        position: relative;
        cursor: pointer;
        display: none;

        @media screen and (max-width: $burgerThreshold) {
            display: block;
        }
    }

    &__burger-lines {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid transparent;

        > div {
            width: 2em;
            height: 0.3em;
            position: relative;
            margin: 0.2em 0;
            overflow: hidden;
            transition: all 0.5s ease;

            > div {
                position: absolute;
                left: 20%;
                top: -50%;
                font-size: 3.5em;
                font-family: $fellFont;
                line-height: 0.1em;
                transform-origin: 50% 50%;
                transform: rotate(58deg);
            }
        }
    }

    &--open &__burger-lines {
        > div:nth-child(1) {
            transform-origin: 0.15em 0.15em;
            transform: translate(0.2em, 0) rotate(45deg);
        }

        > div:nth-child(2) {
            opacity: 0;
        }

        > div:nth-child(3) {
            transform-origin: 0.15em 0.15em;
            transform: translate(0.2em, -0.08em) rotate(-45deg) ;
        }
    }
}